@import 'common';

.detail-view {
    // .wrapper {
    //     @include subWrapper;
    // }

    .infoTop {
        @include subWrapper;
        font-size: 1.2em;
    }

    .cell {
        margin: 30px 0;

        img {
            width: 100%;
            height: auto;
        }

        .state {
            color: #34b0dd;
        }

        .name {
            @include name;
        }

        .code {
            @include code;
        }

        .category {
            color: #fff;
            background: #1b2529;
            font-weight: 600;
            width: 80px;
            padding: 6px 0;
            border-radius: 5px;
            font-size: 0.9em;
            letter-spacing: -0.5px;
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        .desc {
            @include desc;
            margin: 25px 0 40px;
            text-align: center;
        }

        h5 {
            display: inline-block;
            font-weight: bold;
            font-size: 1.2em;

            .toolTip {
                color: #bcbcbc;
                cursor: pointer;
                padding: 0 5px;
            }
        }

        .colorWrap {
            padding: 5%;
            border-top: 1px solid $sub;
        }

        .colorList {
            float: right;
            
            p {
                font-size: 1.2em;

                &:not(:first-child) {
                    display: none;
                }
            }
        }

        .colorType {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            margin-top: 25px;

            li {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                border: 3px solid #eaecee;

                &.on::after {
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    border: 2px solid #1b2529;
                    width: 31px;
                    height: 31px;
                    background: transparent;
                    border-radius: 50%;
                }

                &.whiteNpink::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    width: 13px;
                    height: 25px;
                    background: #c88796;
                    border-radius: 0 100px 100px 0;
                }
            }

            span {
                @include blind;
            }
        }
    }

    .tabMenuWrap {
        margin: 5% 0;
    }

    .tabMenu {
        display: flex;
        justify-content: space-around;

        li {
            width: 100%;
            text-align: center;
            height: 40px;
            line-height: 40px;
            background: #495154;
            border-bottom: 2px solid $border;
            position: relative;
            font-size: 15px;
            font-weight: 600;
            color: $white;
            cursor: pointer;

            &.on {
                height: 46px;
                line-height: 46px;
                background: $white;
                border-top: 2px solid $border;
                border-bottom: 4px solid $white;
                top: -5px;
                color: $border;
                
                &:first-child {
                    border-top-right-radius: 15px;
                }

                &:last-child {
                    border-top-left-radius: 15px;
                }

                &:first-child::after {
                    content: '';
                    position: absolute;
                    right: -16px;
                    z-index: 2;
                    width: 24px;
                    height: 45px;
                    @include bg('bg_buyTab1', $format: 'png');
                }

                &:last-child::after {
                    content: '';
                    position: absolute;
                    left: -17px;
                    z-index: 2;
                    width: 24px;
                    height: 45px;
                    @include bg('bg_buyTab2', $format: 'png');
                }
            }
        }
    }

    .boxWrap {
        background: #fafafa;
        margin: 15px 20px 10px;
        border-radius: $radius;

        .inBox {
            padding: 20px;
            position: relative;

            &.last {
                padding-top: 0;
            }
        }

        .area {
            float: right;
        }

        .box {
            display: flex;
            gap: 10px;

            span {
                @include agreement;

                &.on {
                    border-color: $border;
                    color: $border;
                }
            }
        }

        p {
            font-size: 1.2em;
        }
    }

    .areas {
        display: flex;
        justify-content: space-around;
        gap: 10px;

        span {
            @include agreement;

            &.on {
                border-color: #1b2529;
                color: #1b2529;
            }
        }
    }

    .mattress {
        .inBox {
            padding: 5%;
            border-top: 1px solid #eee;

            p {
                font-size: 1.2em;
            }
        }
    }

    .tipContent {
        position: absolute;
        top: 5px;
        background: #fff;
        border: 2px solid #1b2529;
        border-radius: $radius;
        padding: 0 15px 15px 15px;
        box-sizing: border-box;
        z-index: 2;

        .contClose {
            position: absolute;
            right: 0;
            text-align: center;
            width: 45px;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
        }

        dt {
            font-size: 18px;
            font-weight: bold;
            line-height: 25px;
            margin: 15px 0 5px;
        }

        dd {
            word-break: keep-all;
            line-height: 20px;
            font-size: 1.1em;
        }
    }

    div[id*="buyType"] {
        display: none;

        &.on {
            display: block;
        }
    }

    .totalPrice {
        margin: 15px 20px 10px;
        padding: 10px;
        overflow: hidden;
    }

    .priceWrap {
        float: right;
        color: $main;

        &.purchase {
            font-size: 1.3em;
        }

        span {
            @include blind;
        }

        p {
            display: inline-block;
            
            &.salePrice {
                font-size: 1.3em;
            }
    
            &.price {
                color: #999;
                text-decoration: line-through;
            }
        }
    }

    div[class*="contract"]  {
        display: none;

        &.on {
            display: block;
        }
    }
    
    .componentSelect {
        float: right;
        position: relative;
        width: calc(100% - 35%);
        font-size: 1.2em;
        cursor: pointer;

        button {
            width: 100%;

            i {
                float: right;
            }
        }

        ul {
            display: none;
            position: absolute;
            top: 0;
            background: #fff;
            border: 1px solid $border;
            border-radius: $radius;
            width: 100%;
            padding: 0 9px;

            &.active {
                display: block;
                z-index: 1;
            }

            li {
                height: 40px;
                line-height: 40px;
            }
        }
    }

}