@import 'common';

section {

    h2 {
        font-size: 1.8em;
        color: #2a2a2a;
        text-align: center;
        line-height: 34px;
        padding-top: 50px;
        
        span {
            color: $main;
        }
    }

    .intro {
        text-align: center;
        font-size: 1.2em;
        line-height: 28px;
    }
}

.main-visual {
    @include bg('main_visual');
    padding-bottom: 50px;

    .mainSwiper {
        padding-top: 40px;
        z-index: inherit;
    }

    .swiper-wrapper {
        z-index: inherit;
    }

    .swiper-slide {
        width: 100% !important
    }

    .slide-wrap {
        margin: 0 5%;
        padding-bottom: 12.25%;

        > img {
            width: 90%;
            height: auto;
        }
    }

    .slide-text {
        width: calc(100% - 70px);
        background: $main;
        margin: -40px 20px 0 65px;
        padding: 50px 25px 35px;
        box-sizing: border-box;
        color: $white;

        img {
            width: 65%;
            height: auto;
        }

        p {
            margin-top: 8%;
            line-height: 23px;
            font-size: 1.15em;
        }

        a {
            color: $white;
            margin-top: 5%;
            display: block;
            text-align: right;
        }
    }

    .swiper-pagination {
        z-index: inherit;
    }

    .swiper-pagination-bullet-active {
        background-color: $main;
    }
}

.best-product {
    margin: 30px 0 100px;

    .wrapper {
        @include wrapper;
    }
    
    .category {
        margin: 8% 0 5%;
        display: flex;
        justify-content: space-evenly;

        button {
            font-size: 15px;
            padding: 2.5%;
            width: 100%;
            text-align: center;
            word-break: keep-all;
            cursor: pointer;
            
            &.on {
                color: $main;
                font-weight: 600;
            }
        }
    }

    .tab1 {
        .cell {
            background-color: #d5e2ea;
        }

        .rentalPrice {
            color: #7a99ab;
        }
    }

    .tab2 {
        .cell {
            background-color: #e2e5dc;
        }

        .rentalPrice {
            color: #8d9870;
        }
    }

    .tab3 {
        .cell {
            background-color: #e9e0db;
        }

        .rentalPrice {
            color: #a3907f;
        }
    }

    .tab4 {
        .cell {
            background-color: #e6e6e3;
        }

        .rentalPrice { 
            color: #a09d98;
        }
    }

    .product {
        display: grid;
        gap: 10px;
    }

    .cell {

        padding: 13px;
        box-sizing: border-box;

        &:first-child {
            grid-column: 1 / 3;
            grid-row: 1 / 2;

            a {
                display: flex;
                align-items: center;
            }
        }

        &:not(:first-child) {
            text-align: center;

            img {
                width: 100%;
                height: auto;
            }

            .productText {
                text-align: left;
            }
        }

        img {
            width: 50%;
            height: auto;
        }

        .productText {
            font-size: 1.1em;
            line-height: 18px;
        }

        .desc {
            @include desc;
            margin-bottom: 10px;
        }

        .name {
            font-size: 16px;
        }

        .code {
            @include code;
        }

        .rentalPrice {
            display: block;
            margin-top: 5px;
            font-size: 1.1em;
        }
    }
}

.event-list {
    background-color: #f0f0f0;
    padding-bottom: 3%;
    margin-bottom: 0;

    .wrapper {
        @include wrapper;
    }

    img {
        width: 100%;
        height: auto;
    }

    .event {
        margin: 10% 0 25%;

        li {
            margin-bottom: 20px;
            position: relative;
        }
    }

    .event-content {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin-left: 5%;
        width: calc(100% - 50%);

        > * {
            line-height: 18px;
        }

        p {
            font-size: 1.08em;
            padding-bottom: 5%;
            margin-bottom: 5%;
            border-bottom: 1px solid #ddd;
        }

        strong {
            font-size: 1.1em;
        }

        .blue {
            color: $main;
        }
    }
}